.footer {
  background: #3b006b;
  padding-top: 50px;
  padding-bottom: 15px;
}

.footer__logo i {
  color: #ff00e1;
  font-weight: 400;
  
}

.footer__logo span {
  color: #ff9afd;
  font-weight: 500;
}

.footer__logo-content {
  color: rgb(255, 255, 255);
  margin-top: 15px;
  line-height: 30px;
}

.quick__link {
  border: none !important;
  background: transparent !important;
}

.quick__link a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 300;
  transition: 0.3s;
}

.quick__link a:hover {
  color: #a3009e;
}

.footer__link-title {
  color: #ff9afd;
}

.office__info {
  color: rgb(255, 255, 255);
  font-weight: 300;
}

.newsletter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  /* border: 1px solid #977c962f; */
  border-radius: 50px;
  box-shadow: -2px 2px 19px 0px rgba(255,255,255,0.25);  
  background: #44024de9;
}

.newsletter input {
  background: transparent;
  color: #fff;
  border: none;
  outline: none;
}

.newsletter span i {
  color: #fff;
}

.footer__bottom {
  border-top: 1px solid #fda1ff;
}

.footer__bottom .section__description {
  color: #ff98e9;
}

@media only screen and (max-width: 768px) {
  .footer__logo-content {
    font-size: 0.8rem;
  }

  .quick__link,
  .office__info {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }

  .footer__link-title {
    font-size: 1rem;
    margin-top: 15px;
  }

  .footer__bottom p {
    font-size: 0.7rem;
  }

  
}
